# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplolib

|Data Science Tools|
|------------------|
|MySQL|
|Apache Spark|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

**Objectives:**
- List Popular Data Science Tools
- List Popular Data Science Languages
- List Popular Data Science Libraries
- To carry out arithmetic functions

## Author
S K Revathi